// variables
@typeBlue: #7ea34b;
@typeBlack: #212121;

// main styles
body {
  padding: 20px;
  font-family: sans-serif;
}

// content
h2 {
  color: @typeBlack;
  cursor: default;
  transition: .2s ease-in-out;
  span {
    color: @typeBlue;
    background-color: #fff;
    transition: .2s ease-in-out;
  }
}

h2:hover span {
  span {
    color: lightgray;
  }
}

div {
  border: 1px solid @typeBlack;
}

#myDiv {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: auto; // align to center
}