@import "_fonts";
@import "_variables";

body {
  //color: #fff;
  //background-color: @typeCool;
  padding: 22px 14px;
  font-family: Sansation-Light, sans-serif;
}

.header {
  //color: @typeBlack;
  //background-color: inherit;
  cursor: default;
  transition: 0.125s ease-in-out;
  span {
    color: @typeColor;
    background-color: inherit;
    transition: 0.125s ease-in-out;
  }
}

::placeholder {
  color: lightskyblue;
  grid-template-rows: [row-start] repeat(3, 120px) [row-end];
  grid-template-columns: [col-start] 1fr 1fr 1fr [col-end];
}
