/* (c) Copyright 2018, Anas Abu Farraj. */
/* Styles for Single Level Menu */

// normalization --------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sansation-Light, sans-serif;
}

:root {
  background-color: #fff;
}

// main -----------------------------------------------------------
.flexbox {
  color: white;
  background-color: #212121;
  font-size: 12px;
  height: 120px;
  border-bottom: 1px solid white;

  display: flex; // flex | inline-flex
  justify-content: space-evenly; // start | end | center | space-between | ...
  flex-direction: row-reverse; // row | row-reverse | column | column-reverse
  flex-wrap: wrap; // nowrap | wrap | wrap-reverse
  align-items: center;
}

div.flexbox__element:nth-child(4) { // select 4th div of parent .flex-container
  height: 83px;
  align-self: flex-start;
  flex-basis: 30%;
  background-color: steelblue;
}

div.flexbox__element:nth-child(6) { // select 4th div of parent .flex-container
  height: 83px;
  align-self: flex-end;
  background-color: steelblue;
  //order: -1;
}

.flexbox__element {
  color: unset;
  background-color: coral;
  margin: 6px;
  padding: 20px 20px;
  text-align: center;

  //flexbox
  flex: 1 1 auto;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 125ms ease-in-out 50ms;
  -moz-transition: all 125ms ease-in-out 50ms;
  -o-transition: all 125ms ease-in-out 50ms;
  transition: all 125ms ease-in-out 50ms;
  &:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #212121;
    cursor: default;
  }
}

// blocks ---------------------------------------------------
.grid {
  color: white;
  background-color: #212121;
  font-size: 12px;
  padding: 12px;
  display: grid;                        // grid | inline-grid
  grid-template-rows: repeat(4, 100px) [row-end]; // 120px 120px;
  grid-template-columns: [col-start] 25% 25% [col-end];   // 1 unit vs. 2 units
  grid-gap: 10px 10px; // shorthand {grid-row-gap} {grid-column-gap}
  justify-content: center
}

// elements ------------------------------------------------
.grid__element {
  padding: 30px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 125ms ease-in-out 50ms;
  -moz-transition: all 125ms ease-in-out 50ms;
  -o-transition: all 125ms ease-in-out 50ms;
  transition: all 125ms ease-in-out 50ms;
  &--1 {
    background-color: orange;
    //grid-column: ~'1 / -1';
    //grid-column: col-start / col-end;
  }
  &--2 {
    background-color: olive;
  }
  &--3 {
    background-color: violet;
  }
  &--4 {
    background-color: pink;
  }
  &--5 {
    background-color: steelblue;
    //grid-column: 2 span;
  }
  &--6 {
    background-color: saddlebrown;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.5);
    background: rgb(70, 70, 70);
    cursor: default;
  }
}

// modifiers ----------------------------------------------
@media screen and (min-width: 30em){
  .single-nav ul {
    display: flex;
  }
}

